.hidden {
	display: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100vw;
	height: 70px;
	border-bottom: var(--Light-Grey) solid 2px;
}

span {
	display: flex;
	flex-basis: max-content;
	justify-content: right;
	align-items: center;
	padding: 20px;
}

.logo > * {
	padding: 5px;
}

.logo {
	color: var(--Red);
	font-size: 35px;
	cursor: pointer;
}