.hidden {
	display: none;
}

nav {
	position: sticky;
	top: 0;
	z-index: 50;
	background-color: var(--White);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100vw;
	height: 70px;
	border-bottom: var(--Light-Grey) solid 2px;
	box-shadow: 0 0 10px var(--Light-Grey);
}

nav > span {
	display: flex;
	flex-basis: max-content;
	justify-content: right;
	align-items: center;
	margin: 20px;
}

.logo > * {
	padding: 5px;
}

.logo {
	color: var(--Red);
	font-size: 35px;
	cursor: pointer;
	/* -webkit-box-reflect: below 0 linear-gradient(transparent, 90%, var(--Red)); */
	transition: text-shadow 500ms ease;
}

.logo svg {
	transform: rotate(180deg);
	transition: transform 500ms ease;
}

.logo:hover svg {
	transform: rotate(180deg) scale(1.05);
}

.logo:hover {
	text-shadow: 0px 0px 5px var(--Red);
}
