.spot-card {
	display: grid;
	grid-template-rows: 150px 1.5fr 1fr;
	grid-template-columns: 2fr 1fr;
	margin: 10px;
	cursor: pointer;
	transition: all 500ms cubic-bezier(0.25, 2.0, 0.8, 1.0);
}

.image-container {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	opacity: 100%;
	box-shadow: 0 0 5px var(--Dark-Grey);
	overflow: hidden;
	transition: all 200ms ease-in;
}

.spot-image {
	z-index: -1;
	height: 100%;
	min-width: 200px;
	transition: all 300ms ease-in-out;
}

.image-container:hover,
.spot-image:hover {
	transform: scale(1.2);
}

.image-container:hover {
	box-shadow: 0 5px 3px var(--Dark-Grey);
}

.rating {
	display: flex;
	justify-content: right;
	color: var(--Red);
}

.price {
	grid-column-start: 1;
	grid-column-end: 3;

	font-size: 12px;
	color: var(--Dark-Grey);
}

.details {
	font-size: 14px;
	color: var(--Dark-Grey);
}

.spot-card > span {
	padding-top: 5px;
}

.spot-card strong {
	color: var(--Black);
}

.tooltip {
	position: fixed;
	display: block;
	z-index: 10;
	background-color: var(--White);
	box-shadow: 0 0px 5px var(--Light-Grey);
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
	opacity: 80%;
}
