#modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: popout 300ms ease;
}

@keyframes popout {
	from {
		opacity: 0%;
		top: 100%;
	}
	to {
		top: 0;
	}
}

#modal-background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: 60%;
	animation: fade 300ms;
}

@keyframes fade {
	from {
		opacity: 0%;
	}
	to {
		opacity: 60%;
	}
}

#modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 5px;
	background-color: #ffffff;
	min-width: 50%;
}