#owned-spot-header {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 20px;
    color: var(--Teal);
}

#owned-spot-header button {
    border-radius: 5px;
	padding: 5px 10px;
    font-size: 10px;
    width: fit-content;
}

.current-buttons {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 3;
	justify-content: left;
	align-items: center;
}

.current-buttons button {
    border-radius: 5px;
	padding: 3px 10px;
	margin-left: 5px;
	font-size: 10px;
}