/* TODO: Add sitewide styles */
body {
	margin: 0;
}

:root {
	--White: #ffffff;
	--Black: #000000;
	--Dark-Grey: #999999;
	--Light-Grey: #cccccc;
	--Lighter-Grey: #dfdfdf;
	--Red: #ff5a5f;
	--Dark-Red: #ff0008;
	--Light-Red: #ff7070;
	--Teal: #00525e;
	--Light-Teal: #00525e;
}

button:hover {
	cursor: pointer;
	box-shadow: 0px 3px 3px var(--Light-Grey);
}

button {
	transition: box-shadow 200ms ease-in-out;
}