/* TODO: Add sitewide styles */
body {
	margin: 0;
}

:root {
	--White: #ffffff;
	--Black: #000000;
	--Dark-Grey: #999999;
	--Light-Grey: #cccccc;
	--Lighter-Grey: #dfdfdf;
	--Red: #ff5a5f;
	--Dark-Red: #ff0008;
	--Light-Red: #ff7070;
	--Teal: #00525e;
	--Light-Teal: #00525e;
}

button:hover {
	cursor: pointer;
}

button {
	color: var(--White);
	border: none;
	transition: all 300ms ease;
}

button.red {
	box-shadow: 0 2px 1px var(--Dark-Red);
}

button.red:active {
	box-shadow: inset 0px 0px 5px var(--Dark-Red);
	transform: translateY(2px);
}

.star {
	color: var(--Red);
}

button.yes {
	background-color: var(--Red);
}

button.no {
	background-color: var(--Dark-Grey);
}

button.no:active {
	box-shadow: inset 0px 0px 5px var(--Black);
}